<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olist</title>
</head>
<body>
    <h1>Salesman</h1>
    <fieldset>
        <div class="field">
            <table name="salesman">
                <tr>
                    <th>Empresa</th>
                    <th>Score</th>
                </tr>
            </table>
        </div>

    </fieldset>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/home.js') }}"></script>
</body>
</html>